.fz10{font-size: 10px;} .fz11{font-size: 11px;} .fz12{font-size: 12px;} .fz13{font-size: 13px;} .fz14{font-size: 14px;} .fz16{font-size: 16px;} .fz18{font-size: 18px;} .fz20{font-size: 20px;} .fz22{font-size: 22px;} .fz24{font-size: 24px;} .fz26{font-size: 26px;} .fz28{font-size: 28px;} .fz30{font-size: 30px;} .fz32{font-size: 32px;} .fz34{font-size: 34px;} .fz36{font-size: 36px;} .fz38{font-size: 38px;} .fz40{font-size: 40px;} .fz50{font-size: 50px;} .fz60{font-size: 60px;} .fz70{font-size: 70px;}
/*.sidebar .sidebar-wrapper{background-color: #775f54;}*/
.color_white {color: #ffffff;}
/*.sidebar .logo{background-color: #0d2b75;}*/
.sidebar .sidebar-wrapper .nav>li.active>a{background-color: #0d2b75; box-shadow: none;}
.sidebar .sidebar-wrapper .nav>li.nav-item>a:hover{background-color: #0d2b75; box-shadow: none; color: #ffffff;}
/*.sidebar .sidebar-wrapper .nav>li.nav-item>a{color: #ffffff;}*/
.fz26{font-size: 26px;}
.fz35{font-size: 35px;}
.base_color{color: #363636;}
.base_bg{background-color: #0d2b75;}
.themebase_bg{color: #0d2b75;}
.custom_switch .togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled]+.toggle{width: 50px; height: 30px;}
.custom_switch .togglebutton label .toggle:after{    width: 25px; height: 25px; left: 1px; top: 2px;} 
.custom_switch .togglebutton label input[type=checkbox]:checked+.toggle:after{left: 24px;} 
.navbar.navbar-transparent{background-color: #ffffff !important;}
.custom_nav{border-bottom: 1px solid #d5d5d5;}
.page_data{background-color: #ffffff; margin-top: 61px !important;}
.btn_custom{border-radius: 30px;background-color: #775f54;border: 1px solid #775f54; font-size: 15px;}
.btn_custom:hover{background-color: #ffffff; color: #775f54; border: 1px solid #775f54;}
.img_upload{background-color: #c1c1c1; border: 1px solid #c1c1c1; width: 100%; height: 234px;}
.img_upload>label{width: 100%; height: 234px; text-align: center;}
.img_upload>label>.fa-upload{font-size: 100px; transform: translate(0%, 50%);}
.col_image{position: relative;}
.col_image>.hover_icon{position: absolute; top: 45%; right: 34%; display: none;}
.col_image>.hover_icon>a{display: inline-block; padding: 5px; width: 36px; height: 36px; background: #fbd311; border-radius: 50%; color: #0d2b75; text-align: center;}
.col_image:hover .hover_icon{display: block;}
.img_hover:hover .data_img{-webkit-filter: brightness(0.30);filter: brightness(0.30);}
/*.sidebar .nav li .nav-link i.fa{color: #363636 !important;}*/
.btn.btn-info{background-color: #0d2b75; border-color: #0d2b75; box-shadow: 0 2px 2px 0 rgba(46, 47, 47, 0.14), 0 3px 1px -2px rgba(50, 51, 51, 0.2), 0 1px 5px 0 rgba(32, 33, 33, 0.12);}
.btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:hover, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show>.btn-info.dropdown-toggle{background-color: #0d2b75; border-color: #0d2b75; box-shadow: 0 2px 2px 0 rgba(46, 47, 47, 0.14), 0 3px 1px -2px rgba(50, 51, 51, 0.2), 0 1px 5px 0 rgba(32, 33, 33, 0.12);}
.togglebutton label input[type=checkbox]:checked+.toggle {background-color: rgb(92, 68, 58);}
.togglebutton label input[type=checkbox]:checked+.toggle:after {border-color: #0d2b75;}
.form-check .form-check-label .circle .check{background-color: #0d2b75;}
.form-check .form-check-input:checked~.circle{border-color: #0d2b75;}



/* tournament css start here */
.multiple_games .Tournament_images{position: relative;}
.multiple_games .Tournament_images:hover .image_text{display: block;}
.multiple_games .Tournament_images .image_text{position: absolute; bottom: 0; background-color: #0d2b75; color: #ffffff; display: none; }
.multiple_games .add_sport>.btn-primary{border-radius: 30px; background-color: #ff7d09; border: 1px solid #ff7d09; width: 30%;}
.multiple_games .game_title{color: #ffffff;}
/* tournament css end here */


/* // sports detail css start here*/
.sports_detail .carousel-indicators li{width: 10px; height: 10px; border-radius: 50%;}
.sports_detail .heading_text{border-bottom: 1px solid #dedede;}
.sports_detail .address .view_map_btn{border-radius: 30px; height: 52px; padding: 8px 16px; text-transform: capitalize; background-color: #dddddd;}
.sports_detail .address .view_map_btn:hover, .sports_detail .address .view_map_btn:active, .sports_detail .address .view_map_btn:focus{color: #0d2b75;}
.sports_detail .card_table{box-shadow: 0 0 3px #cfcfcf; background-color: #ffffff;}
.sports_detail .card_table>.table-responsive>.table tbody>tr>td{font-size: 20px; color: #363636;}
.sports_detail .card_table>.table-responsive>.table tbody>tr{border-bottom: 1px solid #cfcfcf;}
.sports_detail .card_table .text_describe>p{color: #585858;}
.games_section p{color: #5b5c5e;}
.form-group .textare_text{color: #fffefe;}

/* // sports detail css end here


/*review css start here*/
.review_noteditable{box-shadow: 0 0 3px #cfcfcf;}
.review_section{position: relative; padding-left: 100px; border-top: 1px solid #e6e6e6;}
.review_section .user_thumb{position: absolute; max-width: 70px; top: 20px; left: 0; border: 2px solid #dddddd; padding: 3px;}
.comment_user_info .comment_designation {color: #adaaaa;}
/*review css end here*/